@tailwind base;
@tailwind components;
@tailwind utilities;

.grechen-fuemen-regular {
    font-family: "Grechen Fuemen", serif;
    font-weight: 400;
    font-style: normal;
}  

.custom-bg {
    background-image: url('/elementos.jpeg');
    background-position: center;
    align-items: center;
    background-size: cover;
    
    
  }